body {
    max-width: 800px;
    margin: 0 auto;
  }
  .sender-column li {
    text-align: right;
    list-style: none;
  }
  .uk li{
    list-style: none;
    margin: 0 0 0 -40px;
  }
  
  .sender-column {
    text-align: right;
  }
  
  h1 {
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 1.3em;
  }
  
  p,ul,ol,dl,address {
    font-size: 1.1em;
  }
  
  p, li, dd, dt, address {
    line-height: 1.5;
  }
  .parrafo {
    margin: 0 0 0 20px;
  }